:root {
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    color: var(--black);
    background-color: var(--white);
}